/***********************/
/*     LYSENT.CSS      */
/* etigeox look-gooder */
/***********************/

/*font*/
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');html{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}

/*everything else*/
body {
	background-color: #171717;
	font-family: 'Share Tech Mono';
	color: white;
}

a {color: #b6b7b7;}
a:hover {color:#78b1b1;cursor: pointer;text-shadow: #fff 0 0 0.5rem, rgba(255,255,255, 0.2) 0 0 5rem;}

input {
	font-family: 'Share Tech Mono';
	color: #b6b7b7;
	background-color: #292929;
	transition: 300ms;
}

button {
	font-family: 'Share Tech Mono';
	background-color: #292929;
	color: #ccc;
	text-align: center;
	text-decoration: none;
	display: block;
	cursor: pointer;
	transition: 300ms;
	text-shadow: #fff 0 0 0.5rem, rgba(255,255,255, 0.2) 0 0 5rem;
}
button:hover {
	text-shadow: #fff 0 0 0.5rem, rgba(255, 255, 255, 0.7) 0 0 5rem, slategray 0 0 6rem;
	background-color: #383838;
}

code {background-color: ivory;}

input:focus, button:focus {
	outline: white;
	box-shadow: #fff 0 0 0.5rem, rgba(255,255,255, 0.2) 0 0 5rem;
}
*:focus {outline:none;}

/*etjs styling*/
#etjs-set{display:none}
.includecard {border:2px solid white}

/*tab styling*/
.tab {overflow: hidden;background-color: #292929;}
.tab button {font-family: 'Share Tech Mono';background-color: inherit;color: #b6b7b7;float: left;border: none;outline: none;cursor: pointer;padding: 14px 16px;transition: 0.3s;}
.tab button:hover {background-color: black;}
.tab button.active {background-color: black;color: #b6b7b7}
.tabcontent {display: none;padding: 6px 12px;}