body {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-rows: 1fr 10fr 1fr;
  grid-template-columns: 20em 3fr 1fr;
}

.ns-header {
  grid-area: 1/1/2/4;
}
.ns-left {
  grid-area: 2/1;
}
.ns-body {
  grid-area: 2/2/2/4;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden scroll;
}
.ns-right {
  grid-area: 2/3;
}
.ns-footl {
  grid-area: 3/1;
}
.ns-footc {
  grid-area: 3/2;
}
.ns-footr {
  grid-area: 3/3;
}

:is(.ns-header, .ns-left, .ns-right, .ns-footl, .ns-footc, .ns-footr) {
  display: grid;
  place-items: center;
}
:is(.ns-left, .ns-right) {
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}

/* the funky selection stuff */
:is(.ns-left, .ns-right) > .ns-neopanel {
  grid-area: 1/1;
  width: 80%;
  height: 100%;
  padding: 5%;

  --elevation: 0;
  opacity: 0;
  z-index: -1;
  transition: ease-in 0.5s;
}
img.ns-rune {
  width: 1rem;
  float: top;
}
:is(.ns-left, .ns-right):has(~ :is(.ns-footl, .ns-footr) :nth-child(1) > :checked) > .ns-neopanel:nth-child(1),
:is(.ns-left, .ns-right):has(~ :is(.ns-footl, .ns-footr) :nth-child(2) > :checked) > .ns-neopanel:nth-child(2),
:is(.ns-left, .ns-right):has(~ :is(.ns-footl, .ns-footr) :nth-child(3) > :checked) > .ns-neopanel:nth-child(3) {
  --elevation: 0.1;
  opacity: 1;
  z-index: 0
}

/* rune selectors */
.ns-runecheckbox {
  display: none;
}
label:has(> .ns-runecheckbox) {
  color: var(--ns-accent);
  cursor: pointer;
  display: inline;
  transition: 1s;
}
label:has(> .ns-runecheckbox:checked), img.ns-rune {
  filter: drop-shadow(0 0 0.5rem firebrick) drop-shadow(0 0 0.2rem orangered);
}