/*==============================================================*\
 *  _  _  ____  _____  ___  _   _    __    ____  _____  _    _  *
 * ( \( )( ___)(  _  )/ __)( )_( )  /__\  (  _ \(  _  )( \/\/ ) *
 *  )  (  )__)  )(_)( \__ \ ) _ (  /(__)\  )(_) ))(_)(  )    (  *
 * (_)\_)(____)(_____)(___/(_) (_)(__)(__)(____/(_____)(__/\__) *
 * NEOSHADOW - The much better successor to shadow.css          *
\*==============================================================*/

@import url(./general.css);
@import url(./neumorph.css);
@import url(./layout.css);

html {
  --ns-accent: #dc143c;
  --ns-bg: #282828;
  --ns-light: #c8c8c8;

  /* neomorph */
  --ns-shade: hsla(0, 0%, 0%, 15%);
  --ns-light: hsla(0, 0%, 75%, 5%);
}