/*
 *	Superwibr's Neomorphic CSS
 *
 *	A "css-lib" for quick neomorphic conversion
 *
*/

/* base */
.neomorph {
	border-radius: 50px;

	/* magic */
	width: var(--width);

	--reflection: 0.08;
	--elevation: 0.08;
	
	--shade: hsla(0, 0%, 0%, 15%);
	--light: hsla(0, 0%, 75%, 5%);
}

/* direction (only top-left light for now.) */
.neo-tl {
	box-shadow: calc(var(--width) * var(--elevation))
				calc(var(--width) * var(--elevation)) 
				calc(var(--width) * 0.24) var(--shade),
				calc(var(--width) * var(--reflection) * -1)
				calc(var(--width) * var(--reflection) * -1)
				calc(var(--width) * 0.24) var(--light);
}

.neo-tl-inset {
	box-shadow: inset calc(var(--width) * var(--elevation))
				calc(var(--width) * var(--elevation))
				calc(var(--width) * 0.24) 	var(--shade),
				inset calc(var(--width) * var(--reflection) * -1)
				calc(var(--width) * var(--reflection) * -1)
				calc(var(--width) * 0.24) var(--light);
}

/*.neo-tr{}
.neo-bl{}
.neo-br{}*/